# travis-ci tutorial-sqlalchemy

language: python

python:
  - 2.7

services: postgresql

install:
  - pip install pep8 --use-mirrors
  - make requirements

before_script:
  - make pep8
  - psql -c "CREATE DATABASE tutorialsqlalchemy;" -U postgres

script:
  - make test

after_success:
  coveralls

notifications:
  email: false
