# travis-ci tutorial-sqlalchemy

language: python

python:
  - 2.7

services: postgresql

before_install:
  - pip install --upgrade pip
  - pip install pep8
  - make pep8

install:
  - make requirements
  - pip install --upgrade pytest

before_script:
  - psql -c "CREATE DATABASE tutorialsqlalchemy;" -U postgres

script:
  - py.test -s --cov --basetemp=tests/media --disable-pytest-warnings

after_success:
  coveralls

notifications:
  email: false
